.tag-selector{
  &.field{
    border: solid 1px $input-border-color;
    background: $input-background-color;
    border-radius: $input-radius;
    box-shadow: $input-shadow;
    align-items: center !important;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    &:hover{
      border-color: $input-hover-border-color;
    }
    &:focus-within{
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
    }
    &.is-danger{
      border-color: $danger;
      &:focus-within{
        box-shadow: $input-focus-box-shadow-size lighten($danger, 25%);
      }
    }
    input{
      box-shadow: none;
      border: none;
      height: 2rem;
      padding-left: 0;
      &:focus{
        border: none;
        box-shadow: none;
      }
      &:disabled{
        background-color: $white;
      }
    }
    .control{
      margin-top: 0.25rem !important;
      margin-bottom: 0.25rem !important;
      margin-right: 0.25rem !important;
    }
  }
}
