.tag-selector{
  min-height: $input-height;
  height: auto !important;
  display: inherit !important;
  &.is-normal{
    input{
      font-size: $size-normal;
    }
  }
  &.is-small{
    input{
      font-size: $size-small;
    }
  }
  &.is-medium{
    input{
      font-size: $size-medium;
    }
  }
  &.is-large{
    input{
      font-size: $size-large;
    }
  }
  &:focus-within{
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
  }
  &.is-disabled{
    background-color: $input-disabled-background-color;
    border-color: $input-disabled-border-color;
    box-shadow: none;
    color: $input-disabled-color;
  }
  .field{
    align-items: center !important;
    input{
      height: auto;
      box-shadow: none;
      border: none;
      padding: 0;
      &:focus{
        border: none;
        box-shadow: none;
      }
    }
  }
}
